.joinOuterContainer {
    display: flex; 
    justify-content: center;
    text-align: center;
    align-items: center;
  }
  
  .joinInnerContainer {
    width: 20%;
  }
  
  .joinInput {
    border-radius: 0;
    padding: 15px 20px;
    width: 100%;
  }
  
  .heading {
    color: white;
    font-size: 2.5em;
    padding-bottom: 10px;
    border-bottom: 2px solid white;
  }
  
  .error {
    font-weight: bold;
    color: rgb(205, 71, 41);
  }
  
  .button {
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #2979ff;
    padding: 20px;
    border-radius: 5px;
    display: inline-block;
    border: none;
    width: 100%;
  }
  
  .mt-20 {
    margin-top: 20px;
  }
  
  .vtag {
    color: #fff !important;
  }
  .ctag {
    color: #fff !important;
    text-decoration: none;
  }
  
  
  @media (min-width: 320px) and (max-width: 480px) {
    .joinOuterContainer {
      height: 100%;
    }
  
    .joinInnerContainer {
      width: 90%;
    }
  }
  
  button:focus {
    outline: 0;
  }
  