html,
body {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  background-color: #1a1a1d;
}

#root {
  height: 100vh;
}

* {
  box-sizing: border-box;
}

/* Disable touch highlighting for all elements */
* {
  -webkit-tap-highlight-color: transparent; /* For iOS Safari */
  -webkit-touch-callout: none; /* Disable callout, iOS long-press menu */
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; /* Disable text selection on all elements */
}

/* Disable touch highlighting for all elements */